venv/

Microservices/AuthMicroservice/__pycache__/
Microservices/AuthMicroservice/model/__pycache__/
Microservices/AuthMicroservice/services/__pycache__/
Microservices/AuthMicroservice/db_config

Microservices/UserMicroservice/__pycache__/
Microservices/UserMicroservice/model/__pycache__/
Microservices/UserMicroservice/services/__pycache__/
Microservices/UserMicroservice/db_config

Microservices/ProductMicroservice/__pycache__/
Microservices/ProductMicroservice/model/__pycache__/
Microservices/ProductMicroservice/services/__pycache__/
Microservices/ProductMicroservice/db_config


